<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error loading page.</title>
</head>
<body>
<h1>Error loading page.</h1>
<div>
    <p>We're sorry, but we couldn't load the page you requested.</p>
    <p><%= error %></p>
</div>
</body>
</html>